@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../styles/header.css');
@import url('../styles/rodape.css');
@import url('../styles/projects.css');

:root {
    --cor-primaria: #F2F2F2;
    --cor-secundaria: #13131f;
    --cor-quaternaria: #383737;
    --cor-apoio: #0584a0;
    --cor-apoio-title: #03718a;

    --cor-bg-itens: #a8a8a8;

    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona-one", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    box-sizing: border-box;

    font-family: var(--fonte-primaria);
}
input[type="checkbox"]{
    display: none;
}
.fa-solid_fa-moon{
    display: none;
}

body {


    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}




.intro {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
}

.foto {
    width: auto;
    height: 50%;
    border-radius: 50%;
    object-position: center;
    object-fit: contain;
}

.title {
    font-size: 3.2rem;
    line-height: 4.2rem;

    font-family: var(--fonte-primaria);
}

span {
    color: var(--cor-apoio);
    font-weight: 500;
    font-family: var(--fonte-secundaria);
}

.paragrafo-introducao {
    font-size: 2rem;
    color: var(--cor-quaternaria);
}

.container__about {
    padding: 8px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container__about__cont {
    padding: 50px 0;
    ;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container__title {
    padding: 1rem;
    font-size: 2rem;
    color: var(--cor-apoio-title);
}

.container__about__text {
    font-size: 1.5rem;
    color: var(--cor-quaternaria);
}

.container__formacao {
    width: auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
}

.container__formacao__lista {
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: baseline;

    color: var(--cor-secundaria);
    font-size: 1.5rem;
}

.listas {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 50px
}


.container__formacao__lista__conteudo {
    color: var(--cor-quaternaria);
    list-style: none;
}

.container__conhecimento {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__conhecimentos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 10px 0;
}

.container__conhecimento__info {
    font-size: 2.2rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-bg-itens);
    width: 12rem;
    border-top-left-radius: 15px;
    border-bottom: 1px solid var(--cor-apoio);
    font-family: var(--fonte-primaria);
}

.container__conhecimento__info__nome {
    font-size: 1.5rem;
    color: var(--cor-quaternaria);
}

.container__conhecimento__info:hover {
    color: var(--cor-apoio);
    cursor: default;

}


.dark, .dark header{
    --cor-primaria: #13131f;
    --cor-secundaria: #F2F2F2;
    --cor-quaternaria: #b8b5b5;
    --cor-apoio: #22D4FD;
    --cor-apoio-title: #80E8FF;

    --cor-bg-itens: #1a1a24;
}








@media (max-width: 1200px) {
    .intro{
        flex-wrap: wrap;
    }
 .foto{
    width:50%;
    order:1;
 }
.title{
    font-size: 2.2rem;
    order:2;
}
.paragrafo-introducao{
    font-size: 1rem;;
}
.container__conhecimentos{
    flex-wrap: wrap;
}
.container__conhecimento__info {
    font-size: 1.6rem;
    color: var(--cor-secundaria);
    background-color: var(--cor-bg-itens);
    width: 10rem;
    border-top-left-radius: 15px;
    border-bottom: 1px solid var(--cor-apoio);
    font-family: var(--fonte-primaria);
}

.listas{
    flex-wrap: wrap;
}
.container__formacao__lista{
    font-size:1.2rem;
}
.container__formacao__lista__conteudo{
    text-align: left;
}
.listas{
    padding:10px;
    gap:30px;
}
}