@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('../styles/header.css');
@import url('../styles/rodape.css');
@import url('../styles/projects.css');

:root {
    --cor-primaria: #13131f;
    --cor-secundaria: #F2F2F2;
    --cor-quaternaria: #b8b5b5;
    --cor-apoio: #22D4FD;
    --cor-apoio-title: #80E8FF;

    --cor-bg-itens: #1a1a24;

    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona-one", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    
    
}

body {
    

    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
}
hr{
    
    border-color:var(--cor-apoio);
    width:95%;
    
}



.intro {
    display: flex;
    gap: 50%;
    
    align-items: center;
    cursor: context-menu;
}

.foto {
    width:auto;
    height: 50%;
    border-radius: 50%;
    object-position: center;
    object-fit: contain;
}

.title {
    font-size: 3.2rem;
    line-height: 4.2rem;
}

span {
    color: var(--cor-apoio);
    font-weight: 500;
    font-family: var(--fonte-primaria);
}

p {
    font-size: 2rem;
    color: var(--cor-quaternaria);
}

.container__about{
    padding: 8px 0;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
.container__about__cont{
    padding: 50px 0;;
    width:50%;
    justify-content: center;
    align-items: center;    
}

.container__title {
    padding: 1rem;
    font-size: 2rem;
    color: var(--cor-apoio-title);
}

.container__about__text {
    font-size: 1.5rem;
    color: var(--cor-quaternaria);
}

.container__formacao {
    width: auto;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container__formacao__lista {
    width: auto;
    
    display: flex;
    flex-direction: column;
    align-items: baseline;

    color: var(--cor-secundaria);
    font-size: 1.5rem;
}
.listas{
 display: flex;
 justify-content: space-between;
 gap: 50px
}

.container__formacao__lista__conteudo {
    padding-left: 15px;
    color: var(--cor-quaternaria);
    list-style: none;
}
.container__conhecimento{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container__conhecimentos{
    background-color: var(--cor-bg-itens);
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid var(--cor-apoio);
}

.container__conhecimento__info {
    font-size: 2.2rem;
    color: var(--cor-secundaria);
}

.container__conhecimento__info i:hover {
    color: var(--cor-apoio);
    cursor:default;

}










@media (max-width: 1200px) {}