@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #13131f ;
    --cor-secundaria: #F2F2F2;
    --cor-terciaria: #FA50C4;
    --cor-quaternaria: #494949;
    --cor-apoio: #22D4FD;
    --cor-bg-hover: #272727;
    --cor-bd-hover: #86226c ;

    --fonte-primaria: "Montserrat", sans-serif;
    --fonte-secundaria: "Krona-one", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

body {
    box-sizing: border-box;
    
    width: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

header {
    /*Up, Right, Down, Left  */
    
    position: fixed;
    display: block;
    width:100%;
    

    background-color: var(--cor-primaria);
    border-bottom: 0.125rem solid var(--cor-apoio);

}.header__container{
    margin: 0 2%;
    padding: 2% 0;
    font-size: 2rem;
    
    align-items: center;
    & .header__menu {
        display: flex;
        justify-content: space-between;
        & a{
            text-decoration: none;
        }
        & .ri-menu-line{
            font-size: 1.5rem;
            padding: 0.35rem;
            color: var(--cor-apoio);
        }
        & .ri-menu-line:hover{
            
            color:var(--cor-primaria);
            background-color: var(--cor-apoio);
            border-radius: 3rem;
        }
        & h2{
            font-size: 1.8rem;
            color: var(--cor-secundaria);
        }
        & h2:hover{
            color:var(--cor-quaternaria);
        }
    }
}


.intro {
    display: flex;
    justify-content: space-between;
    padding: 8% 10%;
    align-items: center;

    & .foto{
        border-radius: 20rem;
    }
    & .title {
        font-size: 4.2rem;
        line-height: 4.2rem;

        & span {
            color: var(--cor-apoio);
            font-weight: 500;
            font-family: var(--fonte-primaria);
        }

        & p {
            font-size: 2rem;
            color: var(--cor-quaternaria);
        }
    }
}

.container {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    & .container__about__title{
        font-size: 1.8rem ;
    }
    & .container__about__text{
        font-size: 1.5rem;
        color: var(--cor-quaternaria);
    }

}

.rodape {
    width: 92%;
    padding: 5% 5%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 1.5rem;
    
    & .icons{
        display: flex;
        justify-content: center;
        gap: 5rem ;




        & .icon{
            
            padding: 0.125rem;
                color: var(--cor-secundaria);
                justify-content: center;
                display: flex;
                font-size: 1.4rem;
                text-decoration: none;
            & .icon-principal{

                & a:visited{
                    color: var(--cor-apoio);
                }
                & i{
                    font-size: 2.8rem;
                }
            }
            & .icon-subtitle{
                color: var(--cor-quaternaria);
                text-decoration: none;
                font-size: 1.2rem;
            }
            & .icon:hover{
                padding: 0.25rem;
                color: var(--cor-apoio);
                border: 0.125rem solid var(--cor-apoio);

                & .icon-subtitle{
                    color: var(--cor-quaternaria);
        }

    }



}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container__content {
        width: auto;
    }





}
